<div class="home">
  <div class="home-layer">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="picture" style="<%= @links[0] %>" alt="Los Angeles"></div>
          <div class="carousel-caption">
            <h3>Los Angeles</h3>
            <p>We had such a great time in LA!</p>
            <a class="btn btn-success">Xem thêm</a>
          </div>   
        </div>
        <% @links.shift%>
        <% @links.each do |link| %>
          <div class="carousel-item">
            <div class="picture" style="<%= link %>" alt="Chicago"></div>
            <div class="carousel-caption">
              <h3>Chicago</h3>
              <p>Thank you, Chicago!</p>
              <a class="btn btn-success">Xem thêm</a>
            </div>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <div class="container">
      <div class="work-list">
        <% @works.each do |work| %>
          <% a = "background-image: url(" + work.file.to_s + ")" %>
          <div class="work-item">
            <div class="work-img" style="<%= a %>">
              <div class="work-meta">
                  <span class="title"><%= work.title %></span><br>
                  <% if work.student %>
                    <span class="author"><%= work.student.name %> ( lớp <%= work.age %> )</span>
                  <% else %>
                    <span class="author">vô danh</span>
                  <% end %>
                </div>
            </div> 
          </div>
        <% end %>
        <div class="read-more"><%= link_to 'Xem thêm',  tac_pham_path %></div>
      </div>
      <% if @article %>
        <div class="workshop-houseview">
          <div class="img-box">
              <%= link_to @article.sub_category.urlTitle,:method => :get do %>
                <img src ="<%=@article.cover%>" class="img-article-large">
              <% end %>
          </div>
          <div class="meta">
            <%= link_to @article.sub_category.urlTitle,:method => :get do %>
              <h3><%=@article.title%></h3>
            <% end %>
            <% if @article.sub_category %>
              <span><%=@article.sub_category.title%></span>
            <% else %>
              <span><%=@article.category.title%></span>
            <% end %>
            <p><%=@article.description[0..1000]%>...</p>
            <div class="read-more"><%= link_to 'Xem thêm',  @article.sub_category.urlTitle %></div>
          </div>
        </div>
      <% end %>
      <div class="student row">
        <div class="col-sm-8">
          <div class="student-list">
            <h3>Học sinh tiêu biểu</h3>
            <% if @students_list.length > 0 %>
              <% @students_list.each do |student| %>
                <div class="student-item">
                  <%= link_to student_path(student),:method => :get do %>
                    <div class="student-img-box">
                      <img class="student-img" src="<%= student.avatar %>">
                    </div>
                    <div class="student-meta">
                      <span class="name"><%= student.name %> </span>
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                      <p class="student-desc"><%= student.description[0..60] %></p>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="student-large">
            <% if @student_best %>
              <%= link_to student_path(@student_best),:method => :get do %>
                <div class="student-img-box">
                  <img class="student-img" src="<%= @student_best.avatar %>">
                </div>
                <div class="student-meta">
                  <span class="name"><%= @student_best.name%></span>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  <p class="student-desc"><%= @student_best.description[0..60] %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-12 read-more"><%= link_to 'Xem thêm',  students_path %></div>
      </div>
      <div class="price-course">
        <h3>Khoá học</h3>
        <table>
          <tr>
            <th>khoá học
            </th>
            <th>học phí</th>
            <th>thời gian</th>
            <th>miêu tả</th>
          </tr>
          <% @courses.each do |course| %>
          <tr>
            <td><div><%=course.name %></div></td>
            <td><div><%=course.course_fee %></div></td>
            <td><div><%=course.duration_min %></div></td>
            <td><div><%=course.note %></div></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="house-view row">
        <div class="col-sm-8">
          <% if @article2 %>
            <div class="meta-view">
              <%= link_to single_article_id_path(@article2),:method => :get do %>
                <h3><%= @article2.title%></h3>
              <% end %>
              <p><%= @article2.description[0..500]%></p>
              <%=link_to 'Xem thêm', '/workshop' %>
            </div>
          <% end %>
        </div>
        <div class="col-sm-4">
          <div class="house-item-box">
            <% if @images %>
              <% @images.each do |image| %>
                <%= link_to single_article_id_path(image),:method => :get do %>
                  <div class="house-item" style="background-image:url(<%= image.cover%>)">
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/footer' %>
  </div>
</div>