<div class="student-details container">
    <div class="row">
      <div class="col-md-4 p-info text-center">
        <h3>Thông tin cá nhân</h3>
        <div class="student-img-box">
          <img class="student-img" src="<%= @teacher.avatar %>">
        </div>
        <div class="student-meta">
          <div>
            <span class="name"> <%= @teacher.name %> </span>
          </div>
          <div>
            <label>SDT:</label><span class="age">  <%= @teacher.phone %></span>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="works">
          <h3>Về giảng viên <%= @teacher.name %></h3>
          <h5>Sơ lược</h5>
          <p><%= @teacher.info %></p>
           <hr>
          <h5>Chuyên môn</h5>
          <p><%= @teacher.specialize %></p>
          <hr>
          <h5>Phương pháp giảng dạy</h5>
          <p><%= @teacher.teaching_technic %></p>
        </div>
      </div>
    </div>
  </div>