<!DOCTYPE html>
<html>
  <head>
    <title>ShpReborn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render partial: 'shared/navigation', locals: {zone: @nav} %>
    <%= yield %>
    <% if request.path != '/home'%>
      <%= render 'shared/footer' %>
    <% end %>
    <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId            : '947739745402761',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.12'
          });
        };
        (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="fb-customerchat"
        page_id="111156686071618"
        theme_color="#e68585"
        logged_in_greeting="Xin chào, lớp vẽ Ngôi Nhà Nhỏ giúp được gì cho bạn?"
        logged_out_greeting="Xin chào, lớp vẽ Ngôi Nhà Nhỏ giúp được gì cho bạn?"
      >
      </div>
  </body>
</html>
